<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alumnos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lista de Alumnos</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alumno : ${alumnos}">
                    <td th:text="${alumno.id}"></td>
                    <td th:text="${alumno.nombre}"></td>
                    <td th:text="${alumno.apellido}"></td>
                    <td th:text="${alumno.curso}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>